body{
    margin: 5rem 0;
    /*  */
    /* background: #000;
    color: #fff;
    border: 1px solid white; */
    /*  */
}
.container-1, .container-2, .container-3, .container-4, .container-5{
    border: 1px solid black;
    margin: 0 auto;
    width : 50%;
    text-align: center;
}
.flex-box-container-1{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content:space-around;
    flex-wrap: wrap;
}
.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-content: center;
}
.flex-box-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
}
.flex-box-container-2 img{
    width: 136px;
    margin: 6px;
    box-shadow:0 10px 50px black
}
.flex-box-container-rps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
    height: 30vh;
}
.flex-box-container-rps .initial:hover{
    box-shadow: 0 10px 50px rgba(37, 50, 233,1);
}
.flex-box-container-rps .red{
    box-shadow: 0 10px 50px red;
}
.flex-box-container-rps .green{
    box-shadow: 0 10px 50px rgb(13, 255, 13);
}
.flex-box-container-rps .yellow{
    box-shadow: 0 10px 50px yellow;
}
.label_img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    border-radius: 9px;
    height: 35px;
    width: 82px;
    padding: 3px;
}
.flex-container-4{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content:space-around;
    flex-wrap: wrap;
}
.blue{
    background-color: blue;
    color:white
}
.red{
    background-color: red;
    color:white
}
.yellow{
    background-color: yellow;
    color:black
}
.green{
    background-color: green;
    color:white
}

#resetButton {
    margin: 1rem 0;
    /* position: relative;
    left: 332px;
    bottom: 12px; */
}

.flex-blackjack-row-1, .flex-blackjack-row-2,.flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    /* padding: 10px; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-blackjack-row-1,.flex-blackjack-row-2{
    background: url('https://wallpaperaccess.com/full/4249220.jpg');
    color:white;
}
/* .flex-blackjack-row-1{
    overflow: scroll;
} */
.flex-blackjack-row-1 div{
    border: 1px solid #ffffff;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}
.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}
.flex-blackjack-row-2 button{
    bottom: 1px solid #ffffff;
    padding: 10px;
}
.flex-blackjack-row-2 div{
    bottom: 1px solid #ffffff;
    padding: 10px;
}
table , tr, th{
    border: 1px solid black;
    padding: 10px;
}
table tr th span{
    margin-left: 15px;
}

